{% load static %}
<!-- Google font -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">

<!-- bootstrap css -->
<link id="rtl-link" rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/bootstrap.css' %}">

<!-- font-awesome css -->
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/font-awesome.css' %}">

<!-- feather icon css -->
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/feather-icon.css' %}" />

<!-- animation css -->
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/animate.min.css' %}" />


<!-- Price Range Slider Css -->
<link rel="stylesheet" href="{% static 'assets/css/vendors/ion.rangeSlider.min.css' %}">

<!-- slick css -->
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/slick/slick.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/slick/slick-theme.css' %}" />
<!-- Loader css -->
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/loader.css' %}" />